case $(uname -o) in
Darwin)
  case $(arch) in
    arm64)
      HOMEBREW_DIR="/opt/homebrew"
      ;;
    x86_64)
      HOMEBREW_DIR="/usr/local"
      ;;
    *)
      echo "cant determine arch"; exit 1
      ;;
  esac

  # make sure .build is in case-sensitive fs
  if [ ! -d .build ] || [ ! -L .build ]; then
    if [ ! -d /Volumes/Casey ]; then
      echo "please create a case-sensitive apfs volume called "Casey" and try again" ; exit 1
    fi
    mkdir -p /Volumes/Casey/crosstool/build
    /bin/ln -sfh /Volumes/Casey/crosstool/build .build
  fi

  brew install autoconf binutils gawk gmp gnu-sed help2man mpfr openssl pcre readline wget xz libtool ncurses
  export PATH="/usr/bin:${HOMEBREW_DIR}/opt/binutils/bin:$PATH"

  export CPPFLAGS="-I${HOMEBREW_DIR}/opt/ncurses/include -I${HOMEBREW_DIR}/opt/gettext/include"
  export LDFLAGS="-L${HOMEBREW_DIR}/opt/gettext/lib -lintl -L${HOMEBREW_DIR}/opt/ncurses/lib"
  ;;
Linux)
  echo "not done yet"
  ;;
esac

